h1 {
  color: rgb(39, 22, 22);
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

header {
  background-color: aqua;
  display: flex;
}

li {
  list-style: none;
}

.horizontal-list {
  display: flex;
  gap: 10px;
}
