/* カンマをつけると、複数のセレクタに対して同じcssを当てる */
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

header {
  background-color: aqua;
  display: flex;
}

h1 {
  color: rgb(39, 22, 22);
  margin: 0;
  padding: 20px;
}

li {
  list-style: none;
}

.horizontal-list {
  display: flex;
  gap: 10px;
}

/* スペースを開けた場合『〇〇の中の、〇〇』に対してcssがあたる */
.test p {
  color: blue;
}
/* スペースを開けない場合『〇〇かつ、〇〇』な要素に対してcssがあたる */
h2.test-h2 {
  color: brown;
}
